q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

In [1]:
# Que. 1  
# ineruon 
# ineruon ineruon 
# ineruon ineruon ineruon
# ineruon ineruon ineruon ineruon

In [2]:
n = 4
for i in range(n) :
    for j in range(0, i+1) :
        print("ineuron", end = " ")
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [3]:
# Que. 2 

#          ineruon
#    ineruon      ineruon
#ineruon		ineruon 	ineruon
#  	ineruon		 ineruon
#  		  ineruon

In [4]:
n=3
for i in range(n-1):
    for j in range(i,n):
        print(" "*7,end=" ")
    for j in range(i):
        print("ineuron",end=" ")
    for j in range(i+1):
        print("ineuron",end=" ")
    print()
for i in range(n):    
    for j in range(i+1):
        print(" "*7,end=" ")
    for j in range(i,n-1):
        print("ineuron",end=" ")
    for j in range(i,n):
        print("ineuron",end=" ")
    print()

                        ineuron
                ineuron ineuron ineuron
        ineuron ineuron ineuron ineuron ineuron
                ineuron ineuron ineuron
                        ineuron

In [5]:
# Que. 3 Try to extract all the list entity

In [6]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [7]:
for i in l : 
    if type(i) == list :
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [8]:
# Que. 4 Try to extract all the dict enteties

In [9]:
for i in l :
    if type(i) == dict :
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [10]:
# Que. 5 Try to extract all the tuples entities

In [11]:
for i in l :
    if type(i) == tuple :
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [12]:
# Que. 6 Try to extract all the numerical data it may b a part of dict key and values

In [13]:
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                print(k)
                print(v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [14]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [15]:
# Que. 7 Try to give summation of all the numeric data

In [16]:
sum = 0 
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int:
                sum+=j
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                sum+=k
                sum+=v
print(sum)

156

In [17]:
# Que. 8 Try to filter out all the odd values out all numeric data which is a part of a list

In [18]:
num = []
odd = []
even = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int:
                num.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                num.append(k)
                num.append(v)
print(num) 
for x in num:
    if x%2 == 0:
        even.append(x)
    else:
        odd.append(x)
print (odd)
print (even)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]
[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]
[2, 4, 2, 4, 6, 4, 6, 4, 6, 8]

In [19]:
# Que. 9  Try to extract "ineruon" out of this data

In [20]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [21]:
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if j == "ineuron" :
                print(j)
    if type(i) == dict :
        for k in i.values() :
            if k == "ineuron" :
                print(k)

ineuron
ineuron

In [22]:
# Que. 10 Try to find out a number of occurances of all the data

In [23]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [24]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int or type(j) == str:
                l1.append(j)
    if type(i) == dict :
        for k in i.items() : 
            for g in k :
                if type(g) == int  or type(g) == str:
                    l1.append(g)
for i in set(l1) : 
    print(i , ":" ,l1.count(i))

k2 : 1
1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
kumar : 1
8 : 1
sudh : 1
data science  : 1
45 : 1
k3 : 1
k1 : 1
23 : 1
ineuron : 2

In [25]:
# Que. 11 Try to find out number of keys in dict element

In [26]:
for i in l :
    if type(i) == dict :
        print(len(i.keys()))

5

In [27]:
# Que. 12 Try to filter out all the string data

In [28]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [29]:
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == str :
                print(j)
    if type(i) == dict :
        for k,v in i.items() :
            if type(k) == str :
                print(k)
                print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [30]:
# Que.13 Try to Find  out alphanum in data

In [31]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int or type(j) == str:
                l1.append(j)
    if type(i) == dict :
        for k in i.items() : 
            for g in k :
                if type(g) == int  or type(g) == str:
                    l1.append(g)
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']

In [32]:
# Que. 14 Try to find out multiplication of all numeric value in  the individual collection inside dataset

In [33]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [34]:
for i in l:
    m = 1
    if type(i) == tuple or type(i) == list or type(i) == set :
        for j in i:
            if type(j) == int:
                m *= j
        print('Multipilcation of',type(i),'is',m)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int and type(v) == int:
                m = m * k
                m = m * v
        print('Multipilcation of',type(i),'is',m)

Multipilcation of <class 'list'> is 24
Multipilcation of <class 'tuple'> is 720
Multipilcation of <class 'tuple'> is 2520
Multipilcation of <class 'set'> is 20700
Multipilcation of <class 'dict'> is 1008
Multipilcation of <class 'list'> is 1

In [35]:
# Que. 15 Try to unwrape all the collection inside collection and create a flat list

In [36]:
num = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            num.append(j)
    if type(i) == dict:
        for k,v in i.items():
            num.append(k)
            num.append(v)
print(num)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']